################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/windowsxp/v17
/.vs
/bin/Debug
/obj
